.header-wrapper {
  width: 100%;
  position: relative;

  z-index: 110;
  .a-layout {
    display: flex;
    .a-layout_item {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
      padding: 3rem;
      &.-right {
        text-align: right;
      }
    }
  }
  .heading-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .let-talk {
    font-size: 18px;
    color: #1458e4;
    letter-spacing: 1.5px;
    a {
      color: #1458e4;
    }
  }
}
