.sidenav-wrapper {
  position: fixed;
  width: 6.5rem;
  height: 100vh;

  z-index: 110;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  .brand-logo {
    padding: 1.2rem;
  }
  .slogan-wrapper {
    p {
      line-height: 1.375;
      font-size: 18px;
      white-space: nowrap;
      transform: rotate(-90deg) translateY(0%) translateX(100%);
    }
  }
}

.open-navSlide-container {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: 6.5rem;
  z-index: 150;
  display: -webkit-inline-box;
  display: none;
  .open-navSlide-wrapper {
    height: 100%;
    width: 50%;
    &.--right {
      direction: rtl;
    }
    .open-navSlide-item {
      background-color: red;

      &.open-navSlide {
        width: 0;
        height: 100%;
      }
    }
  }
}
