.image-block-wrapper {
  height: 700px;
  width: 100%;
  z-index: 90;
  overflow: hidden;
  .bg-img {
    width: 100%;
    height: 150%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% !important;
  }
}
