.strategy-wrapper {
  z-index: 100;
  background-color: white;
  .strat-item {
    min-height: 34rem;
  }
  .empty-block {
    width: 100%;
    height: 600px;
    .filler-block {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 100, 210, 0.7);
    }
  }
  .banner {
    &-breadcrumb {
      font-size: 16px;
      letter-spacing: 1px;
      color: #1458e4;
    }
    &-title {
      font-size: 98px;
      letter-spacing: 2px;
    }
    &-description {
      font-size: 19px;
      letter-spacing: 2px;
    }
  }
  .cta-button {
    position: relative;
    z-index: 1;
    padding: 0.9375rem 3.4375rem 0.9375rem 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 0.8125rem;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    overflow: hidden;
    text-align: left;
    margin-top: 1.875rem;
    display: inline-block;
    border-bottom: 1px solid #1458e4;
    .cta-button_label {
      position: relative;
      left: 0;
      color: #1458e4;
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    &::before {
      background-color: #1458e4;
      z-index: -1;
      transform-origin: center bottom;
      transform: scaleY(0);
      transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &:hover {
      color: white;
      .cta-button_label {
        left: 25%;
        color: white;
      }
      text-decoration: none;
      &::before {
        transform: scaleY(1);
      }
    }
  }
}
