.beam {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  .beam-wrap {
    position: absolute;
    &.-right,
    .-left {
      top: 0;
      bottom: 0;
      width: 2px;
      transform: translateY(100%) translateY(3.75rem);
    }
    &.-right {
      right: 0;
      &::before {
        content: "";
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 3.75rem;
        background-color: black;
      }
    }
    &.-left {
      left: 0;
    }
  }
}
