.__border {
  &-right {
    &::after {
      content: "";
      position: absolute;
      width: inherit;
      height: inherit;
      border-right: 1px solid rgba(35, 32, 32, 0.2);
    }
  }

  &-bottom {
    &::after {
      content: "";
      position: absolute;
      width: inherit;
      height: inherit;
      border-bottom: 1px solid rgba(35, 32, 32, 0.2);
    }
  }

  &-left {
    &::after {
      content: "";
      position: absolute;
      width: inherit;
      height: inherit;
      border-left: 1px solid rgba(35, 32, 32, 0.2);
    }
  }

  &-top {
    &::after {
      content: "";
      position: absolute;
      width: inherit;
      height: inherit;
      border-top: 1px solid rgba(35, 32, 32, 0.2);
    }
  }

  &-top_n {
    border-top: 1px solid rgba(35, 32, 32, 0.2);
  }
  &-bottom_n {
    border-bottom: 1px solid rgba(35, 32, 32, 0.2);
  }
  &-left_n {
    border-left: 1px solid rgba(35, 32, 32, 0.2);
  }
  &-right_n {
    border-right: 1px solid rgba(35, 32, 32, 0.2);
  }
}
