.hamburger-wrapper {
  width: 100%;
  height: 30px;
  position: relative;
  cursor: pointer;
  padding: 40px 0;
  z-index: 110;
  .hamburger-line {
    width: 2px;
    height: inherit;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    &::after {
      content: "";
      width: 2px;
      height: inherit;
      position: absolute;
      background-color: black;
      left: -0.4rem;
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    &::before {
      content: "";
      width: 2px;
      height: inherit;
      position: absolute;
      background-color: black;
      right: -0.4rem;
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  &:hover {
    .hamburger-line {
      &::after {
        left: -0.6rem;
      }
      &::before {
        right: -0.6rem;
      }
    }
  }
  &.nav-open {
    .hamburger-line {
      background-color: transparent;
      &::after {
        transition-delay: 0.3s;
        transform: translateZ(0) rotate(45deg);
        left: 0;
      }
      &::before {
        transition-delay: 0.3s;
        transform: translateZ(0) rotate(-45deg);
        right: 0;
      }
    }
  }
}
