.t-layout {
  &_item {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    &--half {
      width: 50%;
    }
    &--one-third {
      width: 33.33%;
    }
    &--two-third {
      width: 65.66%;
    }
  }
}
