.t-padding {
  padding: 3rem;
  &-small-x {
    padding-left: 1.78rem;
    padding-right: 1.78rem;
  }
  &-x {
    padding-left: 2.78rem;
    padding-right: 2.78rem;
  }
  &-small-y {
    padding-top: 1.78rem;
    padding-bottom: 1.78rem;
  }
  &-y {
    padding-top: 2.78rem;
    padding-bottom: 2.78rem;
  }
}
