@import "mixins/all";
@import "~locomotive-scroll/dist/locomotive-scroll.css";
@import "base/all";
@import "ui_components/all";
@import "animation/all";
@import "pages/all";
@import "blocks/all";

body {
  main {
    position: relative;
    padding-left: 6.5rem;
  }
}
.demo-image {
  width: 100vw;
  height: 400px;
  background-color: red;
  margin-bottom: 20px;
}
